/* 
    Animations
*/
.rotateRight {
    animation: rotateRight .175s linear forwards;
}
.rotateLeft {
    animation: rotateLeft .175s linear forwards;
}

/* Header animations */
@keyframes slide-up-and-disappear {
    0%{
        top: 0;
    }
    35%{
        transform: translateY(calc((var(--header-height) -3rem )* -1)) ;
    }
    100%{
        transform: translateY(calc(var(--header-height) * -1)) ;
    }
}
@keyframes add-shadow {
    to{
        box-shadow: 0 1px .5rem 2px #222222;
    }
}
@keyframes slide-down-and-appear {
    0%{
        transform: translateY(calc(var(--header-height) * -1)) ;
    }
    35%{
        transform: translateY(calc((var(--header-height) -2rem) * -1)) ;;
    }
    100%{
        transform: translateY(0) ;
    }
}
@keyframes rotateRight{
    to{
        transform: rotate(-135deg);
    }   
}
@keyframes rotateLeft{
        to {
            transform: rotate(90deg);
        }  
}
@keyframes slideRight{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(150%);
    }
}
@keyframes slideLeft{
    from {
        transform:  translateX(150%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(-15%);
    }
}

/* Introduction Animations */
@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    20%, 60%{
        transform: rotate(10deg);
    }
    40%, 80%{
        transform: rotate(-5deg);
    }
}
@keyframes appear-overshoot-from-below{
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
    30%{
        transform: translateY(1rem);
        opacity: 65%;
    }
    70% {
        transform: translateY(-2rem);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }

}
@keyframes appear-from-below{
    0%{
        transform: translateY(3rem);
        opacity: 0;
    }
    30%{
        transform: translateY(1rem);
        opacity: 65%;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }

}
@keyframes typing {
    0% {
        width:0;
    }
    99%{
        width: 9ch;
    }
    100%{
        width: auto;
    }
}
@keyframes color-change{
    from{
        color: rgb(var(--text));
    }
    to{
        color: rgb(var(--main));
    }
}

@keyframes drop-from-above {
    from{
        opacity: 0;
        transform: translateY(-5rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
/* Social Link Animations */
@keyframes display-handle {
    from{
        top: 0;
        opacity: 0;
    }
    to {
        top: -1.5rem;
        opacity: 1;
    }
}
@keyframes bounce {
    0%{
        transform: translateY(-25%);
    }
    25%{
        transform: translateY(-8%);
    }
    42%{
        transform: translateY(-4.5%);
    }
    55%{
        transform: translateY(-2.5%);
    }
    62%{
        transform: translateY(-1.7%);
    }

    10%, 33%, 50%, 59%, 65%, 100%{
        transform: translateY(0);
    }

}
