/* Variable Definitions */
:root {
    --light-main: #C5ADC5;
    --light-gradient: #A5ADC5;
    --light-main-accent:#E8E9ED;
     /* 
    C4BB99 - 1
    CEAE9D - 1
    CDC1FF - 2 Blends in too much.
    C1D7AE - 1.5 Nice lime green; might not fit palette
    B1F8F2 - 3 Too bright.
    119DA4 - 3 Too dark.
    E8E9ED - 1 A really nice perl-like color.
    */ 
    --dark-main: #102626;
    --dark-gradient: #013D44;
    --dark-main-accent: #4E8098;
    /* 
    73672A - 3 Doesn't fit the theme.
    4E8098 - 1 A real nice deep grey.
    A594F9 - 3 Hell no.
    13505B - 2 Blends in too much.
    73403C - 3 Nope.
    261514 - 1 A nice REALLY dark brown.
    23260E - 1 A nice dark green;
    */
}

.no-color{
    filter: grayscale(100%);
}
/* Light Theme Styling */
.light.testing {
    color: red;
}

.light.background {
    background: linear-gradient(135deg, var(--light-main) 0%, var(--light-gradient) 50%, var(--light-main) 100%);
}

.light.text{
    color: black;
}
.light.graphic{
    filter: invert(0%);
}
.light.theme_switch.outer{
    background-color: var(--light-main-accent);
}
.light.theme_switch.selector{
    animation: slideLeft 80ms linear forwards;
}

/* 
Dark Theme Styling 
*/
.dark.testing {
    color: white; 
}
.dark.background {
    background-image: linear-gradient(135deg, var(--dark-main) 0%, var(--dark-gradient) 50%, var(--dark-main) 100%);
}
.dark.accent-main {
    color: #607196;
}
.dark.text{
    color:white;
}
.dark.graphic{
    filter: invert(100%);
}
.dark.theme_switch.outer{
    background-color: var(--dark-main-accent);
}
.dark.theme_switch.selector{
    animation: slideRight 80ms linear forwards;
}

/* Theme Swithcer styling */
.theme_switch.outer{
    position: relative;
    width: 5rem;
    height: 2.5rem;
    border-radius: 40px;
    background: red;
}

.theme_switch.inner{
    display: flex;
    width: 100%;
    height: 100%;
    padding: .2rem;
    align-items: center;
    justify-content: space-between;
}

.theme_switch.selector{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;

    border-radius: 50px;
    background: rgb(255,255,255);
}



/* Graphic styling */
.graphic{
    max-width: 100%;
    max-height:100%;
    margin: 0 .3rem;
}
.graphic.large{
    height:3.5rem;
    width:3.5rem;
}

.graphic.medium {
    height: 2.5rem;
    width: 2.5rem;
}

.graphic.small {
    height: 1.5rem;
    width: 1.5rem;
}


/* Text Styling */
.textbox-container {

    min-height: 6rem;
    height: auto;
    width: 100%;
    padding: 2rem 3rem;
    margin: 1rem 0;
    border-radius: 50px 15px;
    background-color: rgba(255, 255, 255, .20);
}

.text.title {
    min-height: 3rem;
    width: 100%;
    padding: 1rem;

    text-align: justify;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.text.subtitle {
    min-height: 2rem;
    width: 100%;

    text-align: justify;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.text.paragraph {
    display: flex;
    min-height: 2rem;
    width: 100%;
    padding: .5rem;

    text-indent: 2rem;
    letter-spacing: 1.2px;
}

.text.list {
    min-height: 2rem;
    height: auto;
    padding: 0 .2rem;
    letter-spacing: 1.2px;
}

.text.list.date {
    text-align: left;
    font-style: italic;
    font-weight: bold;
    float: left;
    width: 20%;
    max-width: 10rem;
} 

.text.list.desc {
    padding-left: 1rem;
}

/* Header Styling */
@media(min-width: 600px) {
    .header.outer{

    }

    .header.inner{

    }
}


/* Conditional Style Overrides */
.text.center {
    align-items: center;
    justify-content: center;
}


/* Footer */
.footer.outer{
    position: absolute;
    height: var(--footer-height);
    display: flex; 
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.footer.inner{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: var(--content-max-width);
    color: white;
    padding: 1.5rem 3rem .5rem;
    border-top: .04rem solid white;
}

.socials-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.socials .enclosed{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    float: left;
    margin: 0 .4rem;
    background-color: var(--light-main-accent);
}

.copyright {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Animations */

.hand-wave{
    animation: handWave .6s infinite linear alternate  ;
}

@keyframes handWave {
    from {
        rotate: 10deg;
        transform-origin: bottom right;
    }
    to{
        rotate: -10deg;
        transform-origin: bottom right;
    }
    
}

@keyframes slideRight{
    from {
        right: 100%;
    }
    to {
        right: 0;
    }
}

@keyframes slideLeft{
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}
