/* 
    Global Variable Definitions
*/
:root {
    --light-main: #C5ADC5;
    --light-gradient: #A5ADC5;
    --light-main-accent:#E8E9ED;
     /* 
    C4BB99 - 1
    CEAE9D - 1
    CDC1FF - 2 Blends in too much.
    C1D7AE - 1.5 Nice lime green; might not fit palette
    B1F8F2 - 3 Too bright.
    119DA4 - 3 Too dark.
    E8E9ED - 1 A really nice perl-like color.
    */ 
    --dark-main: #102626;
    --dark-gradient: #013D44;
    --dark-main-accent: #307373;
    /* 
    73672A - 3 Doesn't fit the theme.
    4E8098 - 1 A real nice deep grey.
    A594F9 - 3 Hell no.
    13505B - 2 Blends in too much.
    73403C - 3 Nope.
    261514 - 1 A nice REALLY dark brown.
    23260E - 1 A nice dark green;
    */
}


/* 
    Footer Styling
*/

.footer.outer{
    position: absolute;
    height: var(--footer-height);
    display: flex; 
    justify-content: center;
    width: 100%;
    bottom: 0;
}

.footer .inner{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: var(--content-max-width);
    color: white;
    padding: .5rem 3rem 1rem;
    border-top: .04rem solid white;
}

/* 
    Graphic styling 
*/

.portrait {
    height: 6rem;
    width: 6rem;
    margin: 0 0 1rem;
    border-radius: 50%;
    border: solid rgb(230, 230, 230) 0.2rem;
}
.graphic{
    max-width: 100%;
    max-height: 100%;
}
.graphic.large{
    height:3.5rem;
    width:3.5rem;
}
.graphic.medium {
    height: 2.5rem;
    width: 2.5rem;
}
.graphic.small {
    height: 1.5rem;
    width: 1.5rem;
}

/* 
    Header Styling
*/

.header.outer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 2;

    backdrop-filter: blur(10px);
}

.header .inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* 
    HyperLink Styling
*/

.hyperlink {
    display: flex;
    flex-wrap: wrap;
    height: 2rem;
    font-size: 1.1rem;
    width: 20%;
    max-width: 30%;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/* 
    Navigator Menu Styling
*/

.nav .full{
    display: flex;
    width: 25rem;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}
.nav .mobile,
.menu.toggle {
    display: none;
}

@media (max-width: 45rem){
    .nav .full{
        display: none;
    }
    .nav .mobile{
        position: absolute;
        top: var(--header-height);
        right: .5rem;
        display:flex;
        flex-direction: column;
        height: 12rem;
        width: 10rem;
        align-items: center;
        justify-content: space-between;
        border-radius: 1rem;
    }
    .menu.toggle{
        display: flex;
        margin: 0 0 0 .5rem;
    }
}

/* 
    Text Styling
*/

.textbox-container {
    min-height: 6rem;
    height: auto;
    width: 100%;
    padding: 2rem 1rem;
    margin: 1rem 0;
    border-radius: 50px 15px;
    background-color: rgba(255, 255, 255, .05);
}

/* 
    Theme Color Styling 
*/

/* Dark */
.dark .testing {
    color: white; 
}
.dark.background {
    background-image: linear-gradient(135deg, var(--dark-main) 0%, var(--dark-gradient) 50%, var(--dark-main) 100%);
}
.dark .graphic{
    filter: invert(100%);
}
.dark .header .outer{
    background-color: rgb( 0,0,0, .2);
}
.dark .hyperlink{
    color: white;
}
.dark .nav .mobile{
    background-color: var(--dark-main-accent);
}
.dark .text{
    color:white;
}
.dark .theme_switch.outer{
    background-color: var(--dark-main-accent);
}
.dark .theme_switch .selector{
    right: 0;
}
.dark .theme_switch .selector .slide{
    animation: slideRight 80ms linear 1;
}

/* Light */
.light.background {
    background: linear-gradient(135deg, var(--light-main) 0%, var(--light-gradient) 50%, var(--light-main) 100%);
}
.light.testing {
    color: red;
}
.light .graphic{
    filter: invert(0%);
}
.light .header .outer{
    background-color: rgba(255, 255, 255, .25);
}
.light .hyperlink{
    color: black;
}
.light .nav .mobile{
    background-color: var(--light-main-accent);
}
.light .text{
    color: black;
}
.light .theme_switch .outer{
    background-color: var(--light-main-accent);
}
.light .theme_switch .selector{
    left : 0;
}
.light .theme_switch .selector .slide{
    animation: slideLeft 80ms linear 1;
}

/* 
    Theme Switcher Styling
*/

.theme_switch.outer{
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 40px;
    padding: 0 .1rem;
    z-index: 1;
}

.theme_switch .inner{
    display: flex;
    width: 100%;
    height: 100%;
    padding: .2rem;
    align-items: center;
    justify-content: space-between;
}

.theme_switch .selector{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;

    border-radius: 50px;
    background: rgb(255,255,255);
}

/* Conditional Style Overrides */
.no-color{
    filter: grayscale(100%);
}

.text .center {
    align-items: center;
    justify-content: center;
}