:root {
    --header-height: 4rem;
    --footer-height: 9rem;
    --content-max-width: 1024px;

    /* shared colors */
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --slate-grey: 110, 126, 133;
}


/* Basic site cleanup/configuration */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    min-width: min-content;
}
html{
    font-size: 18px;
    scroll-behavior: smooth;
    
}
body{
    overscroll-behavior-x: none;
}

::-webkit-scrollbar {
    width: .6rem;
}

  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--slate-grey), .5);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--slate-grey), .7);
}

/* Take up the entire viewport. */
.site-container {
    height: 100%;
    width: 100%;
}
  
/* Take the entire available space for pages */
.page-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container {
    padding: 0 6rem;
    max-width: var(--content-max-width);

    /* see component_styles.css */
    padding-bottom: calc(var(--footer-height) + 1rem);

    /* Easy solution to dynamic styling done in Header component. */
    filter: blur(0px);
}

@media screen and (max-width: 640px) {
    .content-container{
        padding-right: 2rem;
        padding-left:  2rem;
    }
}



