:root {
    --header-height: 4rem;
    --footer-height: 5rem;
    --content-max-width: 1080px;

    /* shared colors */
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --slate-grey: 110, 126, 133;
}


/* Basic site cleanup/configuration */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: 400;
    min-width: min-content;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    position: relative;
    z-index: 99;
}

::-webkit-scrollbar {
    width: .6rem;
}  

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--slate-grey), .5);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--slate-grey), .7);
}

/* Take up the entire viewport. */
.site-container {
    height: 100%;
    width: 100%;
}
  
/* Take the entire available space for pages */
.page-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: auto;

    /* Scroll Snapping */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

@media only screen and (max-width: 640px) {
  .page-container {
    height: 100%;
    scroll-snap-type: none;
    overflow-y: visible;
  }  
} 

.content-container {
    padding: 0 4rem;
    max-width: var(--content-max-width);

    /* Easy solution to dynamic styling done in Header component. */
    filter: blur(0px);
}

@media only screen and (max-width: 640px){
    .content-container {
        padding-right: 2rem;
        padding-left:  2rem;
    }
}



