:root {
    --header-height: 4rem;
    --footer-height: 3rem;
    --content-max-width: 1024px;
}


/* Basic site cleanup/configuration */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 1rem;
    overflow-wrap: break-word;
    font-family: "Open Sans";
    font-weight: 400;
}

/* Take up the entire viewport; pages can later use 100% references. */
.site-container {
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
}

/* Take the entire available space for pages */
.page-container {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 0 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-container {
    width: 100%;
    max-width: var(--content-max-width);

    /* see component_styles.css */
    padding-bottom: calc(var(--footer-height) + 1rem);
    padding-top: calc(var(--header-height) + 1rem) ;
}