/* 
    Misc Styling
*/
.logocard {
    display : flex;
    align-items: center;
    height: 100%;
    border-radius: 20%;
}

.straight{
    transform: rotate(0deg);
}

.sideways{
    transform: rotate(45deg);
}


/* 
    Text Styling
*/

.text{
    font-size: clamp(14.5px, 1.3vw , 1rem);
    color: rgb(var(--text));
}

.text .italic{
    font-style: italic;
}

.text .title {
    width: 100%;
    margin: .5rem 0;

    text-align: justify;
    font-size: clamp(20px, 2vw ,1.5rem);
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.text .subtitle {
    min-height: 1rem;
    width: 100%;
    font-size: clamp(14px, 1.4vw ,1.1rem);
    color : rgba(var(--text), .5);
}

.text .paragraph {
    min-height: 1rem;
    width: 100%;
    padding: .5rem 0;
    margin: 0 0 .5rem 0;
    font-size: clamp(14px, 1.2vw ,1rem);
    letter-spacing: .8px;
    text-indent: 1rem;
    line-height: 1.5rem;
}
.text .paragraph * {
    text-indent: 0;
}

.text .list {
    min-height: 2rem;
    height: auto;
    letter-spacing: 1.2px;
    margin: 0 0 .5rem 0;
}

.text .indent {
    text-indent: 1rem;
}

.list .date {
    text-align: left;
    font-style: italic;
    font-weight: 600;
    float: left;
    width: 20%;
    max-width: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
    color: rgb(var(--main));
} 

.list .desc {
    padding-left: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: clamp(14px, 1vw ,1rem);
    line-height: 1.5rem;
}

.list .sublist {
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem 0 2rem;
}


@media only screen and (max-width:640px) {
    
    .text .date {
        float: none;
        width: 100%;
        padding: 0 0 .5rem;
    }
    .text .desc {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    .text .indent {
        text-indent: 0;
    }
}

/* 
    Opening
*/
#Opening{
    --delay-offset: .1s;

    --wave-duration: 3s;
    --name-duration: .3s;
    --occ1-duration: .6s;
    --occ2-duration: .3s;
    --portrait-duration: .3s;
    --occ1-delay: calc(var(--name-duration) + var(--delay-offset));
    --occ2-delay: calc( (var(--occ1-duration)*.75) + var(--occ1-delay) + var(--delay-offset) );
    --occ3-delay: calc(var(--occ2-duration) + var(--occ2-delay) + var(--delay-offset));      
    --preface-delay: calc(var(--occ3-delay) + var(--occ2-duration) + var(--delay-offset));

    --wave-iterations: 10;

    
    .hand-wave {
        transform-origin:  center 70%;
        margin: 0 .1rem;
        display: inline-block;
    }
    .socials {
        margin-top: 2rem;
        padding: 0 3rem;
        justify-content: space-around;
    }
    .subtitle {
        font-size: clamp(16px , 1.4vw, 1.2rem);
        margin-bottom: .2rem;
    }

    #Greeting{
        font-size: clamp(16px, 1.4vw, 1.1rem);
        margin-bottom: .5rem;
    }
    #Name{
        font-size: clamp(32px, 4.5vw, 4rem);
        position: relative;
        margin-bottom: .5rem;
    
        /* Removes small margin created when font size increases. */
        left: -3px;
    }
    #Occupation1 {
        overflow: hidden;
        width: 0;
        min-width: 0;
    }
    #Introduction{
        display: block;
        margin-top: 1rem;
    }
}

.page-spacer:has(#Opening){
    min-height: calc(100vh - var(--header-height));
}

#Opening.run{
    .hand-wave {
        animation: wave var(--wave-duration) var(--wave-iterations) both;
        animation-delay: var(--preface-delay);
    }
    #Name{
        animation: appear-overshoot-from-below var(--name-duration);
    }
    #Occupation1 {
        animation: typing var(--occ1-duration) steps(11, end) var(--occ1-delay) forwards;
    }
    #Occupation2 {
        animation: appear-from-below var(--occ2-duration) var(--occ2-delay) both;
    }
    #Occupation3{
        animation: appear-from-below var(--occ2-duration) var(--occ3-delay) both;
    }
    #Introduction, #Graduation-Date, .socials{
        animation: appear-from-below var(--occ2-duration) var(--preface-delay) both;
    }
}


#About{
    .portrait {
        position: relative;
        top: -1rem;
        left: -1rem;
    }
    #Portrait{
        float: right;
        margin-left: 2rem;
        height: min-content;
        border: solid rgba(var(--main), .5) 0.2rem;
    }
}

#About.run{
    #Portrait{
        animation: drop-from-above var(--portrait-duration) var(--preface-delay) both;
    }
}

@media only screen and (max-width: 640px){

    #Opening {
        flex-direction: column;

        .hand-wave {
            margin: 0 .1rem;
        }

        .portrait{
            left: .5rem;
        }
        .socials {
            padding: 0;
            justify-content: space-around;
        }

        * {
            margin-bottom: 0;
        }
    }

    #About {
        .portrait{
            left: .5rem;
        }
        #Portrait{
            width: min-content;
            margin: 0 auto 2rem;
            float: none;
        }
    }
    
}