/* 
    Footer Styling
*/

.copyright {
    display: flex;
    width: 100%;
    font-size: .9rem;
    align-items: center;
    justify-content: center;
}

/* 
    Misc Styling
*/

.enclosed{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: auto;
    width: auto;
    padding: 1rem;
    position: relative;
}

.general-flex{
   display:flex;
   align-items: center;
   justify-content: center;
}

.empty {
    height: 0;
    width: 0;
    display: none;
}

.logocard {
    display : flex;
    align-items: center;
    height: 100%;
    border-radius: 20%;
}

.straight{
    transform: rotate(0deg);
}

.sideways{
    transform: rotate(45deg);
}

/* 
    Social Styling
*/

.socials {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2rem; 
}

.socials .text-bubble {
    position: absolute ;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide-up-and-appear .25s linear forwards ;
    color: white;
    font-size: .9rem;
    background-color: rgb(var(--base));
    padding: 0 .5rem;
    border-radius: 1rem;
}


/* 
    Text Styling
*/

.text{
    font-size: 1rem;
}

.text .indent{
    text-indent: 2rem;
}

@media only screen and (max-width:640px) {
    
    .text .indent {
        text-indent: 0;
    }
}

.text .italic{
    font-style: italic;
}

.text .title {
    min-height: 2rem;
    width: 100%;
    margin: .5rem 0;

    text-align: justify;
    font-size: 1.33rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.text .subtitle {
    min-height: 1rem;
    width: 100%;
    margin: 0 1rem;
    letter-spacing: 1.3px;
    font-size: 1.1rem;
    color : rgb(var(--main));
}

@media only screen and (max-width:640px) {
    
    .text .subtitle{
        margin: 0;
    }
}


.text .paragraph {
    display: flex;
    min-height: 1rem;
    width: 100%;
    padding: .5rem 0;
    margin: 0 0 .5rem 0;

    letter-spacing: 1.1px;
}

.text .list {
    min-height: 2rem;
    height: auto;
    letter-spacing: 1.2px;
    margin: 0 0 .5rem 0;
}
.list .date {
    text-align: left;
    font-style: italic;
    font-weight: 600;
    float: left;
    width: 20%;
    max-width: 10rem;
    overflow-y: auto;
    overflow-x: hidden;
} 

.list .desc {
    padding-left: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

@media only screen and (max-width:640px) {
    
    .text .date {
        float: none;
        width: 100%;
        padding: 0 0 .5rem;
    }

    .text .desc {
        float: none;
        width: 100%;
        padding-left: 0;
    }
}

.list .sublist {
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 1rem 0 2rem;
    text-decoration: dotted;
}

/* 
    Theme Color Styling 
*/



